
 <div class="sideCard">
      <button class="mt-5 btn btn-lg"><a class="text-decoration-none text-dark" href="/create">+ NEW POST</a></button>
    </div>
    <nav>
    <div class="d-flex justify-content-between">
        <div class="d-flex">
          <i class="ri-menu-line fs-2 menu"></i>
          <h1>LOGO</h1>
        </div>
        <form action="">
          <input type="text" placeholder="Search" name="search" />
          <button><i class="ri-search-line"></i></button>
        </form>
        <div></div>
      </div>
    </nav>