
   <%- include("./partials/header.ejs") %>
   <div class="w-100 h-100">
      <div class="w-100  d-flex justify-content-between p-4 fixed-top">
         <h3 class="f2"><strong>InkVibes</strong></h3>
         <h6><strong>ABOUT</strong></h6>
      </div>
      <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-4">
           <h2 class="f2 head-main-h2">InkVibes</h2>
           <h1 class="f1 head-main">Discover, Inspire,<br> Share, Grow</h1>
           <button class="head-main-btn btn btn-lg rounded-pill btn-dark text-light w-50"><a class="text-decoration-none text-light fs-2" href="/signup">Let's Rock >>></a></button>
      </div>
    </div>
   <%- include("./partials/footer.ejs") %>
  