 <%- include("./partials/header.ejs") %>
 <div class="w-100  d-flex justify-content-between p-4 fixed-top">
         <h3 class="f2"><strong><a class="text-decoration-none text-dark" href="/">InkVibes</a></strong></h3>
         <div><h6><strong>ABOUT</strong></h6>
         <h6><a class="text-decoration-none text-dark" href="/signup"><strong>Sign-up</strong></a></h6></div>
      </div>
      <div class="w-100 h-100 d-flex justify-content-center align-items-center">
      <form class="text-align-center d-flex flex-column w-50 d-flex justify-content-center align-items-center gap-3" action="/signin" method="post">
        <input required class="border  form-control w-50" type="text" placeholder="USERNAME" name="username">
        <input required class="border  form-control w-50" type="email" placeholder="Example123@gmail.com" name="email">
        <input required class="border  form-control w-50" type="password" placeholder="********" name="password">
        <button class="btn btn-lg bg-dark text-light w-50">Sign-in</button>
        <h6>Don't have an account? <a class="text-decoration-none" href="/signup">SignUp </a> | <a class="text-decoration-none" href="/getmail"> Foget PAssword?</a></h6>
      </form>
      </div>